<mat-grid-list cols="5" rowHeight="1:1" [gutterSize]="'16px'">
    <mat-grid-tile *ngFor="let produto of produtos">
        <mat-card>
            <img
                mat-card-image
                src="assets/images/sem-imagem.jpg"
                alt="{{ produto.descricao }}"
            />
            <mat-card-content>
                <mat-card-title>{{ produto.nome }}</mat-card-title>
                <mat-card-subtitle>
                    {{ produto.preco | currency: "BRL" }}
                </mat-card-subtitle>
            </mat-card-content>
            <mat-card-actions>
                <button
                    mat-stroked-button
                    color="warn"
                    mat-button
                    (click)="adicionar(produto)"
                >
                    Adicionar
                </button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>
